PORT=2000
NODE_ENV=development
SESSION_SECRET=your_super_secret_session_key
PRINTER_NAME=Ink-Tank-310-series
COOKIE_SECURE=false
SCANNER_NAME=SOME_PRINTER_NAME
SCANNER_SERIAL_ID=XXXXXXXXXXXX

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=print_queue

